@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Exo+2&display=swap");
/*color palate https://coolors.co/2a1429-004346-f3cef0-cad2c5-c5e7d3*/
html {
  font-family: "Exo 2", sans-serif;
  margin: 1rem auto;
  max-width: 850px;
}

h1 {
  font-family: "Caveat", sans-serif;
  letter-spacing: 1px;
}
header img {
  width: 200px;
}
header {
  padding: 1rem;
}
header,
footer {
  background-color: #331832;
  color: #cad2c5;
}
footer {
  padding: 0.25rem;
  text-align: center;
}
#lastupdate {
  color: white;
}

body {
  font-size: 18px;
  color: black;
  border-radius: 20px;
}
main {
  padding: 1rem;
  background-color: #f3c3f0;
}
hr {
  border: 1px solid black;
}

nav a:visited,
nav a:link {
  color: #2a1429;
}
nav a:hover {
  color: #f3c3f0;
  padding: 0.25em;
  background-color: #331832;
  border-radius: 15px;
}
footer a:link,
footer a:visited {
  color: #f3c3f0;
}
footer a:hover {
  color: white;
}
