
/* Header and Footer rules here */
header, footer {
    margin: 1rem 0;
    margin-bottom: 0;
    height: auto;
    color: black;
    background-color: #FF9770;
    text-align: center;
    padding: 1rem;
    font-family: 'Oswald', sans-serif;
}

header h1 {
    margin: 0;
    background-color: #FF9770;
    
}
header h2 {
    margin: 0;
}


/* Navigation rules here */
nav {
    background-color: white;
}
nav ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: black;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 1.25rem;
}

nav a:hover {
	background-color: #FFBA0A;
	color: black;
}

nav ul li.active a {
    background-color: #FFBA0A;
    color: black;
}


/* Main content rules here */
main {
    margin-top: 0;
    padding-top: 0;
}

body{
    background-color: #08415C;
}

main {
    background-color: white;
}

.color {
    margin: 1rem;
}



h1 {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    color: black;
    background-color: #FF9770;
    text-align: center;
    margin: 0;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
}

nav,
main,
footer {
	max-width: 70em;
	margin: 0 auto;
}

footer a {
    color:rgb(255, 238, 0)
}



