/* 
Normalized CSS 
*/

/*Header rules here */
header{
    background-color: white;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #035487;

}
header h1 {
    margin-bottom: 0;
}

/* Navigation rules here*/
nav{
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: nowrap;
   padding: 0;
  }

  

  .dropbtn {
      display: none;
      width: 100%;
        background: #89AAE6;
  }

  .dropdown-content {
     display: flex;
     padding: 0;
    }

    .dropdown-content li{
        flex-basis: auto;
        flex-grow: 1;
        list-style: none;
        text-align: center;
        padding: 1em 1.5em;
        background: #89AAE6;
    }

 .dropdown-content a {
     text-decoration: none;
     color: black;
     font-weight: 600;
    }

    .dropdown-content li:hover{
        background: #4679D8;
        transition: all 0.5s ease;
    }

/*Body rules here */
body{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
    background: #C2CFB2;
}

.summarybox{
    position: absolute;
    margin: 2em;
    background-color: #3684b5c7;
    padding: 1em 3em 1em 1em;
    text-align: left;
}

.summarybox ul{
    list-style: none;
    list-style-position: outside;
}

h2{
    text-align: center;
}


.contentbox{
    display: block;
    margin: 10px auto;
    border: 1px dashed black;
    padding: 15px;
    background-color: white;
    color: black;
    font-style: italic;
    text-align: center;
}

/*-------Main---------*/

main figure img {width: 100%; height: auto;}
main figure {
    margin: 0;
    width: 100%;
}

section.article {
    border: 1px solid black;
    margin-top: 2rem;
}
section.article p {
    margin: 1rem;
}

section.article h2 {
    text-align: center;
}




div#message {
    background-color: rgb(238, 255, 0);
    font-size: xx-large;
    text-align: center;
}
div.showme{display: block;}
div.hideme{display: none;}


/* Footer rules here */
    footer{
        display: block;
        background-color: #035487;
        padding: 1em;
        border-radius: 12px;
        text-align: center;
        clear: both;
    }

    footer a {
        color: rgb(246, 250, 0)
    }

    .gmap iframe {
        width: 100%;
        height: 400px;
        border: 0 ;
        overflow: hidden; 
        margin: 0;
    }

    .map {
        position:relative;
        text-align:right;
    }

    .gmap {
        overflow: hidden;
        background: none!important;}

    .contactinfo{
        display: block;
        margin: 10px auto;
        padding: 15px;
        color: black;
        font-weight: bold;
    }
    
   
