@media only screen and (min-width: 35rem) {
    footer{
        display: block;
        background-color: #3685B5;
        padding: 1em;
        border-radius: 12px;
        text-align: center;
    }
}