@media only screen and (min-width: 640px) {



nav ul li a {
    display: block;
    color: #eee;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;
}

  nav ul li.active a{
    color: white;
    background: #3100B8;
  }


    .dropbtn {
      display: none;
      width: 100%;
      background: #22007C;
   }

    .dropdown-content {
     display: flex;
     padding: 0;
    }

    .dropdown-content li{
        flex-basis: auto;
        flex-grow: 1;
        list-style: none;
        text-align: center;

        background: #22007C;
    }

    .dropdown-content a {
     text-decoration: none;
     color: white;
     font-weight: 600;
    }

    .dropdown-content li:hover{
        background: #3600CC;;
        transition: all 0.5s ease;
    }


    /*          Main          */

    

    

    .hero {
      float: right;
      grid-column: 2;
    }

    .eventsection {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
    }
    .eventsection h2 {
      grid-column: 1;
    }

    .forcastdiv {
      grid-column: 1;
     
    }

    .events h2 {
      grid-column: 2;
    }
    .events {
      grid-column: 2;
      text-align: center;
    }

    /*    business grid display */

    .card {
      grid-template-columns: 1fr 1fr;
   }
   .card img {
      width: 75%;
   }


   /*     Rexburg history page rules      */

   .rexburghistory {
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 20px;
     margin-bottom: 40px;
   }

   .rexburghistory h3 {
     text-align: center;
   }

   .rexburghistory img {
    margin-left: auto;
    margin-right: auto;
    display: block;
   }

   .places {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
   }

   .places h3 {
    text-align: center;
   }

   .places img {
    margin-left: auto;
    margin-right: auto;
    display: block;
   }

   
}